<!DOCTYPE html>

{% extends 'myblog/base.html' %}

{% block content %}
    <h1>
    The 16 meaning
    </h1>

    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et explicabo fugit illum ipsum, quas qui sed vero? Aliquam animi dolorum fuga maxime mollitia rerum vel voluptas voluptatibus? Iste numquam, pariatur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et explicabo fugit illum ipsum, quas qui sed vero? Aliquam animi dolorum fuga maxime mollitia rerum vel voluptas voluptatibus? Iste numquam, pariatur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et explicabo fugit illum ipsum, quas qui sed vero? Aliquam animi dolorum fuga maxime mollitia rerum vel voluptas voluptatibus? Iste numquam, pariatur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et explicabo fugit illum ipsum, quas qui sed vero? Aliquam animi dolorum fuga maxime mollitia rerum vel voluptas voluptatibus? Iste numquam, pariatur.

    </p>

{% endblock %}
